html {
	font-size: 13px;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
p, li {
	font-size: 1rem;
}

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 720px){
  html{
    font-size: 18px;
  }
}
@media screen and (min-width: 800px){
  html{
    font-size: 19px;
  }
}
@media screen and (min-width: 860px){
  html{
    font-size: 20px;
  }
}
@media screen and (min-width: 920px){
  html{
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px){
  html{
    font-size: 22px;
  }
}